/* CSS taken from default main.css and non-tailwind css */

/* Windmill theme for default SB++ button used in pop-up */

.btn, .btnhvr {

    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    padding-left: 1rem;
    padding-right: 1rem; 
    border-radius: 0.5rem; 
    border-width: 1px; 
    border-color: transparent; 
    width: 100%; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    font-weight: 500; 
    line-height: 1.25rem; 
    /* color: #ffffff; */
}

/** ======= Context Menu Styles ======= **/
/** Used on server page right click menu **/

div.contextmenu {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #eaeaea;
    border: 1px solid #dddddd;
    border-left: 5px solid #dddddd;
}
div.contextmenu a {
    display: block;
    text-decoration: none;
    cursor: default;
    outline: none;
    font-size: 11px;
}
div.contextmenu .separator {
    height: 1px;
    padding: 0;
    overflow: hidden;
}

.contextmenu {
    width: 12em;
    /*background: #F4F5EB;*/
    border-top: 1px solid #ddd;
    /*border-left: 1px solid #ddd;*/
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
    padding: 2px 0;
}
.contextmenu a {
    color: #555;
    padding: 4px 15px;
    margin: 0 2px;
}
.contextmenu a:hover {
    background-color: #F4F5EB;
}
.contextmenu a.disabled {
    color: #bbb;
}
.contextmenu a.disabled:hover {
    background: #F4F5EB;
    color: #bbb;
}
.contextmenu .separator {
    border-bottom: 1px solid #fff;
    background: #999;
    margin: 4px 4px;
}
.contextmenu .head {
    font-size: 12px;
    background-color: #DFE3E9;
    padding-top: 4px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-left: 5px;
    color: #555;
}

/** ==== misc CSS may not be needed **/
/*
.select {
    background: #fff;
    font-size: 13px;
    padding: 5px 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.textbox {
    background: #fff;
    font-size: 13px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.file {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px;
}

.user {
    color: #eee;
    float: right;
    margin-top: 18px;
    margin-right: 10px;
}

.user a:visited, .user a:link, .user a:hover {
    color: #bd754b;
}

.front-module-header {
    margin-bottom: 3px;
    font-size: 12px;
    font-weight: 600;
}

hr {
    border: 1px solid #ddd;
}


/** ==== Admin Pages? ====**/ 
/*
#admin-page-menu > a {
    display: block;
}

.tabcontent {
    display: none;
}

.tabcontent:first-of-type {
    display: block;
}
*/
/* Scroll bar */
body {
    scrollbar-color: #4b5563 #1f2937;
  }
/* Stop content moving when there is scrollbar
main {
    scrollbar-gutter: stable;
}

/** ==================== Admin Tabs ==================== **/
/** Credit: https://codepen.io/ekscentrysytet/pen/QbNdEB **/
  .tabinator input {
    display: none;
  }
  .tabinator label {
    box-sizing: border-box;
    display: inline-block;
    padding: 15px 25px;
    color: #ccc;
    margin-bottom: -1px;
    margin-left: -1px;
  }

  .tabinator label:hover {
    color: #888;
    cursor: pointer;
  }
  .tabinator input:checked + label {
    position: relative;
    color: #fff;
    background: #7C3AED;
    border: 1px solid #1a1c23;
    border-bottom: 1px solid #7C3AED;
    border-radius: 5px 5px 0 0;
  }
  .tabinator input:checked + label:after {
    display: block;
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
  }




/** ================ Admin Sub Tabs ================ **/
/** === Used on Ban/comm current & archive pages === **/


#tabs {
    float: left;
    width: 100%;
    margin-left: 0;
}

#tabs ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#tabs ul li {
    float: left;
}

#tabs ul li a {
    border: 0;
    display: block;
    padding: 0 16px;
    text-align: center;
    font-size: 11px;
    font-weight: bolder;
    line-height: 50px;
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
}

/*
#tabs ul li.active {
}
*/
#tabs ul li.active a {
    /* padding: 0.1em 0.6em; */
    padding: 0 16px;
    color: #7C3AED;
}