/* Dark Red Theme for Public Pages */

.windmill-title-bar {
    color: #EDE9FE; 
    background-color: #4c1a1a; 
}
.windmill-button {
    color: #EDE9FE; 
    background-color: #4c1a1a;
    transition: background-color 0.5s; 
}
.btn {
    color: #EDE9FE; 
    background-color: #4c1a1a;
    transition: background-color 0.5s; 
}
/* Make this a lighter color */ 
.windmill-button:hover {
    background-color: #C4A484; 
}