/* Default Purple for Public Pages */

.windmill-title-bar {
    color: #EDE9FE; 
    background-color: #7C3AED; 
}
.windmill-button {
    color: #EDE9FE; 
    background-color: #7C3AED;
    transition: background-color 0.5s; 
}
.windmill-button:hover {
    background-color: #6D28D9; 
}
.btn {
    color: #EDE9FE; 
    background-color: #7C3AED;
    transition: background-color 0.5s; 
}
